# Игнорирай настройките на PyCharm
.idea/
*.iml

# Игнорирай настройките на Cursor (VS Code базиран)
.vscode/

# Игнорирай виртуалната среда
.venv/
venv/
ENV/
env/

# Игнорирай кеш файловете на Python
__pycache__/
*.py[cod]
*$py.class

# Игнорирай файловете на история
history.json
*.png

# Игнорирай конкретната папка в корена
/short_exercises/

# Игнорирай всяка папка с това име, където и да се намира в проекта
exercises/

# Игнорирай генерирания сайт
site/